.ParrafoDeArticulos{
	margin: 0% 10% 0% 3% ;
	background:#4033d3 ;
	font-size: 20px;
	border: 5px #008080 solid;
}
#imagenDeArticulo1{
	width: 20pc;
	height: 20pc;
	display: flex;
	margin: 0 auto;
}
#imagenDeArticulo2{
	display: flex;
	width: 50pc;
	height: 15pc;
	margin: 0 auto;

}