
#navegacion {
	background: #51d1f6;  
	border: 5px #0096d2 solid;
}

.navegador {
	border: 2px black solid;
	font-size: 15px;
	margin: 3px;
	display: inline-block;
	color: black;
	background: #4bcc9ff;
}